/** @format */

.mentorRequest {
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 20px;
  margin-right: 10px;
  max-width: 300px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 5px;
}
