/** @format */

.MentorRequestBlock {
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 20px;
  margin-right: 10px;
  width: 100%;
  text-overflow: ellipsis;
  transition: 0.5s;
  margin: 10px 0px;
}

.MentorRequestBlock .hideRequest {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.acceptRequest__btn {
  margin: 0px 20px;
  padding: 3px 8px;
  background-color: rgb(224, 246, 255);
  border-radius: 5px;
  transition: 0.5s;
}

.acceptRequest__btn:hover {
  background-color: rgb(0, 183, 255);
  color: white;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.reqAccepted {
  background-color: rgb(141, 255, 175);
  margin: 0px 20px;
  padding: 3px 8px;
  cursor: not-allowed;
  border-radius: 5px;
  transition: 0.5s;
}

.description {
  margin-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
